body {
  font-family: sans-serif;
  max-width: 100%;
  margin-top:50px;
  margin-left:50px;
  margin-right:25%;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 100%;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

table {
    font-size:18;
	font-family:"Arial",sans-serif;
	width: 100%
}

p {
    font-size:22;
    font-family:"Arial",sans-serif;
    text-align: justify;
    width: 100%;  
}

h1 {
    font-family:"Arial",sans-serif;
}

h2 {
    font-family:"Arial",sans-serif;
}
